#Config
.cordova/*
.settings/*
out/*
#Eclipse
.classpath
*properties
#proguard
proguard-project.txt
#IntelliJ
.idea/*
*.iml
#OSX
.DS_Store
.spotlight-v100/*
.trashes
#Windows thumbs
*.db
#Android
.dex
.apk
.class
