<!--
Felipe
Rosana

-->


<html>
<head>
<meta charset="utf-8">
<link href="../css/bootstrap.min.css" rel="stylesheet"> 
<link href="../css/style.css" rel="stylesheet">
<title>Tela Indicadores</title>
</head>



<body>
	<div id="wrapper">


<div class="titulo"> O PALPITEIRO </div>

<div class="sub titulo"> INDICADORES </div>

<nav>
  <div class="row">
    <div class="col-xs-6 col-md-3"><a href="#" class="thumbnail"><img alt="..." width="160" height="175" data-src="holder.js/100%x180"> </a> </div>
  </div>
</nav>
<table class="table text-center" width="200" border="0" align="center" >
  <tr>
    <td> <h4>Chutes</h4></td>
    <td><h4>Acertos</h4></td>
  </tr>
  <tr>
    <td>10</td>
    <td>6</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><h4>Chutometro</h4></td>
    </tr>
  <tr>
    <td colspan="2">48 Palpites</td>
  </tr>
  <tr>
    <td colspan="2">20 Jogos</td>
  </tr>
  <tr>
    <td colspan="2">3 Acertos do placar</td>
  </tr>
  <tr>
    <td colspan="2">7 Acertos do resultado</td>
  </tr>
</table>
</div>

</body>
</html>
