<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ranking</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
<div id="wrapper">
<div class="titulo transparent">
	O PALPITEIRO
</div>
<div class="sub titulo">
	RANKING
</div>
	<div>
    <table class="table" width="200" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2"><h5><strong>Colocação</strong></h5></td>
        <td><h5><strong>Pontos</strong></h5></td>
      </tr>
      <tr>
        <td>1º</td>
        <td>Rodrigo Martins</td>
        <td>200</td>
      </tr>
      <tr>
        <td>2º</td>
        <td>Lukas Roberto</td>
        <td>200</td>
      </tr>
      <tr>
        <td>3º</td>
        <td>Felipe</td>
        <td>199</td>
      </tr>
      <tr>
        <td>4º</td>
        <td>Rosana</td>
        <td>18</td>
      </tr>
      <tr>
        <td>5º</td>
        <td>Rafael</td>
        <td>17</td>
      </tr>
      <tr>
        <td>6º</td>
        <td>Mauricio</td>
        <td>16</td>
      </tr>
      <tr>
        <td>7º</td>
        <td>Larissa</td>
        <td>15</td>
      </tr>
      <tr>
        <td>8º</td>
        <td>Vanessa</td>
        <td>14</td>
      </tr>
      <tr>
        <td>9º</td>
        <td>João</td>
        <td>13</td>
      </tr>
      <tr>
        <td>10º</td>
        <td>Osvaldo</td>
        <td>12</td>
      </tr>
      <tr>
        <td>999º</td>
        <td>Ivan</td>
        <td>-24</td>
      </tr>
</table>
    </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../js/bootstrap.min.js"></script>
</body>
</html>