<!DOCTYPE html>
<html lang="en">
  <head>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogos</title>
  </head>
  <body>
    <div class="container">

    	<div class="jogo">

    		<table class="table" style="text-align:center;">

    			<thead>
    				<th width="40%;" style="text-align:center;"></th>
    				<th width="15%;" style="text-align:center;">Resultado</th>
    				<th width="15%;" style="text-align:center;">Palpite</th>
    				<th width="26%;" style="text-align:center;">Pontos</th>
    			</thead>
    			<tbody>
	    				
	    				<tr>
	    					<td>Brazil</td>
	    					<td>1</td>
	    					<td>1</td>
	    					<td class="success" rowspan="2" style="vertical-align: middle;">3</td>
	    				</tr>
	    				<tr>
	    					<td>Japão</td>
	    					<td>0</td>
	    					<td>0</td>
	    				</tr>
<tr>
	<td colspan="4"></td>
</tr>
	    				<tr>
	    					<td>Italia</td>
	    					<td>3</td>
	    					<td>4</td>
	    					<td class="success" rowspan="2" style="vertical-align: middle;">1</td>
	    				</tr>
	    				<tr>
	    					<td>Camarões</td>
	    					<td>5</td>
	    					<td>6</td>
	    				</tr>

	    				<tr>
	<td colspan="4"></td>
</tr>
	    				<tr>
	    					<td>Rússia</td>
	    					<td>3</td>
	    					<td>4</td>
	    					<td class="success" rowspan="2" style="vertical-align: middle;">1</td>
	    				</tr>
	    				<tr>
	    					<td>China</td>
	    					<td>5</td>
	    					<td>6</td>
	    				</tr>




    			</tbody>
    			<tfoot>
    				<tr>
    					<td colspan="4" style="text-align:right;">
    						Total de pontos: 3
    					</td>

    				</tr>

    			</tfoot>


    		</table>

    </div>

  </body>
</html>
